@import url(value.css);
.card {
  width: 20vw;
  height: 20vw;
  background: var(--cardGradient);
  border-radius: 50%;
  box-shadow: var(--shadow);
  backdrop-filter: blur(7px);
  z-index: 1;
  transition: all 0.5s;
}
.card:hover {
  width: 60vh;
  height: 60vh;
  background: var(--cardGradient);
  border-radius: 50%;
  box-shadow: var(--shadow);
  backdrop-filter: blur(7px);
  z-index: 1;
}
.ellipse {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  background: var(--blue);
  position: absolute;
  bottom: 10vh;
  right: 51vw;
}
.ellipseSmall {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  background: var(--green);
  position: absolute;
  bottom: 30vh;
  right: 60vw;
}
