#container {
    border: 1px solid rgb(49, 49, 49);
    overflow-x: scroll;
    width: 200px;
}

.container::-webkit-scrollbar {
    display: none;
}

.vide {
    min-width: 50%;
    height: 100%;
    background: transparent;
    color: transparent;
}

.textFixe {
    position: fixed;
    top: 10px;
}

.post>a {
    width: 100%;
}

#posts {
    position: relative;
    display: flex;
    max-width: 300px;
    min-height: 50px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

a {
    border: 1px solid rgb(44, 44, 44);
    padding: 5px;
    color: rgb(12, 12, 12);
    margin: 5px;
}

button {
    background: black;
    color: rgb(36, 36, 36);
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
}