@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Six+Caps&display=swap');
#container {
    /* border: 1px solid rgb(49, 49, 49); */
    overflow: hidden;
}

.container::-webkit-scrollbar {
    display: none;
}

.imageVideo{
    width: 15rem;
}
.sliderImage{
    width: 35rem;

}


.vide {
    min-width: 50%;
    height: 100%;
    background: transparent;
}
.button{
    display: flex; 
}
.p_btn{
    color: transparent;
    flex: 12;
    display: flex;
    justify-content: center;
}
.btn1{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn2{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Title{
    font-family: 'Six Caps', sans-serif;
    font-size: 2.5rem;
}
.text_title{
    flex: 2;
    display: flex;
    justify-content: flex-start;
    font-family: 'Open Sans', sans-serif;
    width: 50%;
}

.imageVideo{
    width: 15rem;
    flex: 2;
    display: flex;
    justify-content: flex-end;
}
.leftContent{
    position: absolute;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.post>a {
    width: 100%;
}

#posts {
    position: relative;
    display: flex;
    /* max-width: 300px; */
    min-height: 50px;
    white-space: nowrap;
    align-items: center;
}

a {
    /* border: 1px solid rgb(44, 44, 44); */
    padding: 5px;
    color: rgb(12, 12, 12);
    margin: 5px;
}

button {
    background: black;
    color: rgb(36, 36, 36);
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
}