<link rel="stylesheet" href="mainContent.css">
<script src="../script/slide.js"></script>
<div class="leftContent">
    <h1 class="Title">Movie-Inspired <br>Typography</h1>
    <div class="parag">
        <p class="text_title">Apparently we had reached a great height in the atmosphere, <br>
        for the sky was a dead black, and the stars had ceased to twinkle.</p>
        
    </div>

    <img class="imageVideo" src="../assets/images/video_thumbnail.jpg" alt="">

</div>


<section class="container" id="container">
    
    <div id="posts">
        <div class="vide">
            
        </div>
        <div class="post">

            <a href="#">
                <img class="sliderImage" src="../assets/images/slide_1.jpg" alt="">
            </a>
            <a href="#">
                <img class="sliderImage" src="../assets/images/slide_2.jpg" alt="">

            </a>
            <a href="#">
                <img class="sliderImage" src="../assets/images/slide_3.jpg" alt="">

            </a>
            
        </div>
    </div>
</section>

<br>
<div class="button">
    <button class="btn1" type="button" onclick="slide('left')">Prev</button>
    <p class="p_btn">button</p>
    <button class="btn2" type="button" onclick="slide('right')">Next</button>
</div>

<br>
<br>